$selectiveColoreSite: #F16D7F;
$colorText: #000;
$widthBurgerMenu: 232px;
%flex-space{
    display: flex;
    justify-content: space-between;
}
%minStyleParameters{
    font-style: normal;
    line-height: normal;
}